APP_NAME="Masjid Kampus Universitas Fajar"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=Asia/Makassar
APP_URL=http://localhost:8000
APP_LOCALE=id

LOG_CHANNEL=stack
LOG_LEVEL=debug

# ==== KONFIGURASI DATABASE POSTGRESQL ====
DB_CONNECTION=pgsql
DB_HOST=127.0.0.1
DB_PORT=5432
DB_DATABASE=masjid_fajar
DB_USERNAME=postgres
DB_PASSWORD=

SESSION_DRIVER=database
SESSION_LIFETIME=120

QUEUE_CONNECTION=sync
CACHE_STORE=file

FILESYSTEM_DISK=public

MAIL_MAILER=log
